            /* Uso de unidades relativas */
            html {
                font-size: 16px;
            }
    
            .container {
                background-color: lightblue;
                border: 5px solid navy;
                box-sizing: border-box;
                height: 30vh;
                padding: 1rem;
                width: 50vw;
            }
    
            .dynamic-box {
                background-color: coral;
                height: max-content;
                padding: 10px;
                text-align: center;
                width: calc(100% - 20px);
            }
