            body {
                font-family: Arial, sans-serif;
                text-align: center;
            }
    
            .container {
                display: flex;
                gap: 20px;
                justify-content: center;
                margin-top: 50px;
            }
    
            .box {
                align-items: center;
                background-color: royalblue;
                color: white;
                display: flex;
                font-size: 14px;
                height: 100px;
                justify-content: center;
                transition: transform 0.5s ease-in-out;
                width: 100px;
            }
    
            /* Aplicando transformaciones */
            .rotate:hover {
                transform: rotate(45deg);
            }
    
            .scale:hover {
                transform: scale(1.5);
            }
    
            .translate:hover {
                transform: translateX(50px);
            }
    
            .skew:hover {
                transform: skew(20deg);
            }
